<script lang="ts">
    export let close: () => void;
</script>

<div class="footer">
    <button type="submit" class="save">Speichern</button>
    <button type="reset" class="cancel" on:click={close}>Abbrechen</button>
</div>

<style lang="scss">
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #f5f5f5;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);

    button {
      float: right;
      margin: 15px;
      border: none;
      background: none;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Abel', sans-serif;

      &.cancel {
        color: #555;
      }

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
</style>