<script lang="ts">
    import {showModal} from "../../../stores.js";
    import IdGenerator from "../../../IdGenerator";
    import Consumption from "../../../model/measurement/Consumption";
    import ConsumptionUnit from "../../../model/measurement/ConsumptionUnit";
    import ModalHeader from "../../../components/refuels/modal/Header.svelte";
    import ModalFooter from "../../../components/refuels/modal/Footer.svelte";
    import Refuel from "../../../model/refuel/Refuel";
    import Price from "../../../model/measurement/Price";
    import {RefuelStorage} from "../../../RefuelStorage";
    import PriceUnit from "../../../model/measurement/PriceUnit";

    let time = new Date().toISOString();
    let price;
    let priceUnit = PriceUnit.EURO;
    let consumption;
    let consumptionUnit = ConsumptionUnit.LITER;


    function save(event: SubmitEvent) {
        event.preventDefault();
        event.stopPropagation();

        if (time && price && consumption) {
            const refuel = new Refuel();
            refuel.id = IdGenerator.generateId(10);
            refuel.time = new Date(time);
            refuel.consumption = new Consumption(consumption, consumptionUnit);
            refuel.price = new Price(price, priceUnit);
            RefuelStorage.addRefuel(refuel);
            close();
        }
    }

    function close() {
        showModal.set(false);
    }
</script>
{#if $showModal}
    <div class="modal">
        <form action="#" on:submit={save}>
            <ModalHeader {close}/>

            <div class="content">
                <div class="input-group">
                    <div class="input">
                        <label for="time">Wann</label>
                        <input type="date" name="time" id="time"
                               placeholder="Datum und Uhrzeit" bind:value={time} required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input">
                        <label for="price">Preis</label>
                        <input type="number" name="price" id="price" step="0.01"
                               placeholder="Preis"
                               bind:value={price} required>
                    </div>
                    <div class="input unit">
                        <label for="priceUnit">Währung</label>
                        <select bind:value={priceUnit} name="priceUnit" id="priceUnit"
                                required>
                            {#each PriceUnit.values as unit}
                                <option value={unit}>{unit.label}</option>
                            {/each}
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input">
                        <label for="consumption">Getankt</label>
                        <input type="number" name="consumption" id="consumption" step="0.01"
                               placeholder="Menge" bind:value={consumption} required>
                    </div>
                    <div class="input unit">
                        <label for="consumptionUnit">Einheit</label>
                        <select bind:value={consumptionUnit} name="consumptionUnit"
                                id="consumptionUnit" required>
                            {#each ConsumptionUnit.values as unit}
                                <option value={unit}>{unit.label}</option>
                            {/each}
                        </select>
                    </div>
                </div>
            </div>

            <ModalFooter {close}/>
        </form>
    </div>
{/if}

<style lang="scss">
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;

    .content {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      height: calc(100% - 100px);

      .input-group {
        display: flex;
        flex-flow: row;
        width: 50%;
        margin: 0 auto;
        padding: 10px;

        .input {
          flex-grow: 4;
          margin: 10px auto;

          &.unit {
            flex-grow: 1;
          }

          label {
            display: block;
            margin-bottom: 5px;
          }

          input {
            display: block;
            height: 32px;
            padding: 5px;
            width: 100%;
            margin: 0;
            border: none;
            border-bottom: 2px solid #ccc;

            &:focus, &:hover {
              outline: none;
              background: #f5f5f5;
              border-bottom: 2px solid #555;
            }
          }

          select {
            display: block;
            width: 100%;
            height: 44px;
            padding: 5px;
            margin: 0;
            border: none;
            border-bottom: 2px solid #ccc;

            &:focus, &:hover {
              outline: none;
              background: #f5f5f5;
              border-bottom: 2px solid #555;
            }
          }
        }
      }
    }


  }
</style>