<script lang="ts">
    export let close: () => void;
</script>

<div class="header">
    <h2>Neuer Trip</h2>
    <button type="reset" class="close" on:click={close}>X</button>
</div>

<style lang="scss">
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #f5f5f5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

    h2 {
      padding: 13px;
      margin: 0px;
      float: left;
    }

    button.close {
      float: right;
      margin: 15px;
      border: none;
      background: none;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Abel', sans-serif;

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
</style>