<script lang="ts">
    import {showModal} from "../../../stores.js";
    import Trip from "../../../model/trip/Trip";
    import IdGenerator from "../../../IdGenerator";
    import Distance from "../../../model/measurement/Distance";
    import Consumption from "../../../model/measurement/Consumption";
    import {TripStorage} from "../../../TripStorage";
    import DistanceUnit from "../../../model/measurement/DistanceUnit";
    import ConsumptionUnit from "../../../model/measurement/ConsumptionUnit";
    import ModalHeader from "../../../components/trips/modal/Header.svelte";
    import ModalFooter from "../../../components/trips/modal/Footer.svelte";

    let time = new Date().toISOString();
    let distance;
    let distanceUnit = DistanceUnit.KILOMETER;
    let consumption;
    let consumptionUnit = ConsumptionUnit.LITER;


    function save(event: SubmitEvent) {
        event.preventDefault();
        event.stopPropagation();

        if (time && distance && consumption) {
            const trip = new Trip();
            trip.id = IdGenerator.generateId(10);
            trip.time = new Date(time);
            trip.distance = new Distance(distance, distanceUnit);
            trip.consumption = new Consumption(consumption, consumptionUnit);
            TripStorage.addTrip(trip);
            close();
        }
    }

    function close() {
        showModal.set(false);
    }
</script>
{#if $showModal}
    <div class="modal">
        <form action="#" on:submit={save}>
            <ModalHeader {close}/>

            <div class="content">
                <div class="input-group">
                    <div class="input">
                        <label for="time">Wann</label>
                        <input type="date" name="time" id="time"
                               placeholder="Datum und Uhrzeit" bind:value={time} required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input">
                        <label for="distance">Strecke</label>
                        <input type="number" name="distance" id="distance" step="0.01"
                               placeholder="Distanz"
                               bind:value={distance} required>
                    </div>
                    <div class="input unit">
                        <label for="distanceUnit">Einheit</label>
                        <select bind:value={distanceUnit} name="distanceUnit" id="distanceUnit"
                                required>
                            {#each DistanceUnit.values as unit}
                                <option value={unit}>{unit.label}</option>
                            {/each}
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input">
                        <label for="consumption">Verbrauch</label>
                        <input type="number" name="consumption" id="consumption" step="0.01"
                               placeholder="Menge" bind:value={consumption} required>
                    </div>
                    <div class="input unit">
                        <label for="consumptionUnit">Einheit</label>
                        <select bind:value={consumptionUnit} name="consumptionUnit"
                                id="consumptionUnit" required>
                            {#each ConsumptionUnit.values as unit}
                                <option value={unit}>{unit.label}</option>
                            {/each}
                        </select>
                    </div>
                </div>
            </div>

            <ModalFooter {close}/>
        </form>
    </div>
{/if}

<style lang="scss">
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;

    .content {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      height: calc(100% - 100px);

      .input-group {
        display: flex;
        flex-flow: row;
        width: 50%;
        margin: 0 auto;
        padding: 10px;

        .input {
          flex-grow: 4;
          margin: 10px auto;

          &.unit {
            flex-grow: 1;
          }

          label {
            display: block;
            margin-bottom: 5px;
          }

          input {
            display: block;
            height: 32px;
            padding: 5px;
            width: 100%;
            margin: 0;
            border: none;
            border-bottom: 2px solid #ccc;

            &:focus, &:hover {
              outline: none;
              background: #f5f5f5;
              border-bottom: 2px solid #555;
            }
          }

          select {
            display: block;
            width: 100%;
            height: 44px;
            padding: 5px;
            margin: 0;
            border: none;
            border-bottom: 2px solid #ccc;

            &:focus, &:hover {
              outline: none;
              background: #f5f5f5;
              border-bottom: 2px solid #555;
            }
          }
        }
      }
    }


  }
</style>