<script lang="ts">
    import BottomMenu from "../lib/components/BottomMenu.svelte";
    import Header from "../lib/components/Header.svelte";
</script>
<Header/>
<slot></slot>
<BottomMenu/>
<style lang="scss">
  :global(html, body) {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
  }
</style>