<script lang="ts">
    let base = location.pathname;
    //remove trailing slash
    if(base.endsWith("/")) {
        base = base.substring(0, base.length - 1);
    }
    location.assign(`${base}/trips`);
</script>

<svelte:head>
    <title>Backfuel</title>
</svelte:head>
<h1>Leite weiter zu Trips</h1>
<style lang="scss">
  h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Pacifico', sans-serif;
  }
</style>