<script lang="ts">
    import TripComponent from "./Trip.svelte";
    import {TripStorage, TripStorageEvent} from "../../TripStorage";
    import Trip from "../../model/trip/Trip";

    let trips: Trip[] = TripStorage.getTrips();

    $: trips = trips.sort((a, b) => (b.time as Date).getTime() - (a.time as Date).getTime());

    TripStorage.subscribe((trip, event) => {
        if (event === TripStorageEvent.ADD) {
            trips = [...trips, trip as Trip];
        } else if (event === TripStorageEvent.REMOVE) {
            trips = trips.filter(t => t.id !== (trip as Trip).id);
        } else if (event === TripStorageEvent.UPDATE) {
            trips = trips.map(t => t.id === (trip as Trip).id ? trip as Trip : t);
        } else if (event === TripStorageEvent.CLEAR) {
            trips = [];
        } else if (event === TripStorageEvent.OVERWRITE) {
            trips = trip as Trip[];
        }
    });

</script>
<div class="container">
    <h2>Trips</h2>
    <div class="sticky-container">
        <table>
            <thead>
            <tr>
                <th colspan="2">Zeit</th>
                <th colspan="2">Strecke</th>
                <th colspan="2">Verbrauch</th>
            </tr>
            <tr>
                <th class="long-column">Von</th>
                <th class="long-column"></th>
                <th class="medium-column">Distanz</th>
                <th class="short-column">Einheit</th>
                <th class="medium-column">Menge</th>
                <th class="short-column">Einheit</th>
            </tr>
            </thead>
            <tbody>
            {#each trips as trip}
                <TripComponent {trip}/>
            {/each}
            </tbody>
        </table>
    </div>
</div>
<style lang="scss">
  .container {
    position: fixed;
    top: 66px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .sticky-container {
    overflow-y: scroll;
    height: calc(100vh - 66px - 75px);
  }

  table {
    padding: 0;
    border-collapse: collapse;
    margin: 0 auto 150px auto;
    text-align: left;


    thead {
      position: sticky;
      top: 0;
      text-align: left;
      box-shadow: 0 65px 30px 1px #f5f5f5 inset;

      th {
        padding: 0.5rem;

        &.long-column {
          width: 150px;
        }

        &.medium-column {
          width: 100px;
        }

        &.short-column {
          width: 50px;
        }
      }
    }
  }
</style>