<script lang="ts">
    import Header from "../../lib/components/Header.svelte";
    import FloatingButton from "../../lib/components/FloatingButton.svelte";
    import Modal from "../../lib/components/refuels/modal/Modal.svelte";
    import {showModal} from "../../lib/stores.js";
    import RefuelList from "../../lib/components/refuels/RefuelList.svelte";
    import BottomMenu from "../../lib/components/BottomMenu.svelte";
</script>

<svelte:head>
    <title>Backfuel - Refuels</title>
</svelte:head>
<RefuelList />
<FloatingButton text="Re-fuel" on:click={() => $showModal = !$showModal}/>
{#if $showModal}
    <Modal/>
{/if}