<script lang="ts">
    import Header from "../../lib/components/Header.svelte";
    import TripList from "../../lib/components/trips/TripList.svelte";
    import FloatingButton from "../../lib/components/FloatingButton.svelte";
    import Modal from "../../lib/components/trips/modal/Modal.svelte";
    import {showModal} from "../../lib/stores.js";
    import BottomMenu from "../../lib/components/BottomMenu.svelte";
</script>

<svelte:head>
    <title>Backfuel - Trips</title>
</svelte:head>
<TripList/>
<FloatingButton text="Neuer Trip" on:click={() => $showModal = !$showModal}/>

{#if $showModal}
    <Modal/>
{/if}