<script lang="ts">
    import RefuelComponent from "../../components/refuels/Refuel.svelte";
    import Refuel from "../../model/refuel/Refuel";
    import {RefuelStorage, RefuelStorageEvent} from "../../RefuelStorage";

    let refuels: Refuel[] = RefuelStorage.getRefuels();

    $: refuels = refuels.sort((a, b) => (b.time as Date).getTime() - (a.time as Date).getTime());

    RefuelStorage.subscribe((refuel, event) => {
        if (event === RefuelStorageEvent.ADD) {
            refuels = [...refuels, refuel as Refuel];
        } else if (event === RefuelStorageEvent.REMOVE) {
            refuels = refuels.filter(t => t.id !== (refuel as Refuel).id);
        } else if (event === RefuelStorageEvent.UPDATE) {
            refuels = refuels.map(t => t.id === (refuel as Refuel).id ? refuel as Refuel : t);
        } else if (event === RefuelStorageEvent.CLEAR) {
            refuels = [];
        } else if (event === RefuelStorageEvent.OVERWRITE) {
            refuels = refuel as Refuel[];
        }
    });

</script>
<div class="container">
    <h2>Refuels</h2>
    <div class="sticky-container">
        <table>
            <thead>
            <tr>
                <th colspan="2">Zeit</th>
                <th colspan="2">Tankfüllung</th>
                <th colspan="2">Kosten</th>
            </tr>
            <tr>
                <th class="long-column">Von</th>
                <th class="long-column"></th>
                <th class="medium-column">Menge</th>
                <th class="short-column">Einheit</th>
                <th class="medium-column">Preis</th>
                <th class="short-column">Einheit</th>
            </tr>
            </thead>
            <tbody>
            {#each refuels as refuel}
                <RefuelComponent {refuel}/>
            {/each}
            </tbody>
        </table>
    </div>
</div>
<style lang="scss">
  .container {
    position: fixed;
    top: 66px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .sticky-container {
    overflow-y: scroll;
    height: calc(100vh - 66px - 75px);
  }

  table {
    padding: 0;
    border-collapse: collapse;
    margin: 0 auto 150px auto;
    text-align: left;


    thead {
      position: sticky;
      top: 0;
      text-align: left;
      box-shadow: 0 65px 30px 1px #f5f5f5 inset;

      th {
        padding: 0.5rem;

        &.long-column {
          width: 150px;
        }

        &.medium-column {
          width: 100px;
        }

        &.short-column {
          width: 50px;
        }
      }
    }
  }
</style>