<script lang="ts">
    import Refuel from "../../model/refuel/Refuel";

    export let refuel: Refuel;

    function tripTime() {
        // if(typeof trip.time === typeof DateRange) {
        //     const dateRange = trip.time as DateRange;
        //     return {
        //         from: dateRange.from.toLocaleDateString() + " " + dateRange.from.toLocaleTimeString(),
        //         to: dateRange.to.toLocaleDateString() + " " + dateRange.to.toLocaleTimeString()
        //     };
        // }
        const date = refuel.time as Date;
        return date.toLocaleDateString();
    }
</script>

<tr>
    <td>{tripTime()}</td>
    <td></td>
    <td>{refuel.consumption.value}</td>
    <td>{refuel.consumption.unit.label}</td>
    <td>{refuel.price.value}</td>
    <td>{refuel.price.unit.label}</td>
</tr>

<style lang="scss">
  td {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  tr {
    box-shadow: 0 2px 2px 0px #f5f5f5;

    &:hover {
      background-color: #e0e0e0;
    }
  }
</style>