<script lang="ts">
    import { base } from '$app/paths';
</script>

<div class="footer">
    <a href="./trips">Trips</a>
    <a href="./refuels">Refuels</a>
</div>

<style lang="scss">
  .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #f5f5f5;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);

    a {
      flex-grow: 1;
      margin: 15px;
      border: none;
      background: none;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Abel', sans-serif;
      text-align: center;
      text-decoration: none;
      color: black;

      &.cancel {
        color: #555;
      }

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
</style>