<script lang="ts">
    export let text = "Klick mich!";
    export let position = "center";
</script>

<button class={position} on:click>{text}</button>

<style lang="scss">
  button {
    position: fixed;
    bottom: 70px;
    height: 50px;
    padding: 0 20px 0 20px;
    min-width: 150px;
    font-weight: bold;
    font-family: "Pacifico", sans-serif;
    font-size: 1.25rem;
    background: #00ff00;
    color: black;

    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1000;

    &.left {
      left: calc(20% - 75px);
    }

    &.center {
      left: calc(50% - 75px);
    }

    &.right {
      left: calc(80% - 75px);
    }

    &:hover {
      background: greenyellow;
      color: darkslategray;
    }
  }
</style>