<header>
    <div class="left">

    </div>
    <div class="center">
        <h1>backfuel</h1>
    </div>
    <div class="right">
        <a href="https://gitlab.com/dscham/backfuel">GitLab Repo</a>
    </div>
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    margin: 0 0 10px 0;
    width: 100%;
    align-items: center;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;

    z-index: 1000;

    .left {
      flex: 1;
      text-align: left;
      padding-left: 10px;
    }

    .center {
      flex: 1;
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        font-family: 'Pacifico', cursive;
      }
    }

    .right {
      flex: 1;
      text-align: right;
      padding-right: 10px;
    }
  }
</style>